//------------
//Patronse CSS
//------------

$primario: #5eb12f;
$secundario: #004aad;
$texto: #8c8d8e;
$background: #f5f5f5;
$blanco: #ffffff;

@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"),
    url("/assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Arimo", sans-serif;
  src: local("Arimo"), url("/assets/fonts/Arimo-Regular.ttf") format("trueType");
}
@font-face {
  font-family: "DM Sans", sans-serif;
  src: local("DM Sans"),
    url("/assets/fonts/DMSans-Medium.ttf") format("trueType");
}

body {
  background: $background !important;
  font-family: "Arimo", sans-serif;
}

section,
header {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: $secundario;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  color: $texto;
}

.accion {
  border: 2px solid $primario;
  border-radius: 10px;
  padding: 1rem 4rem;
  color: $blanco;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: $primario;
}

.accion:hover,
.accion:active {
  border: 2px solid rgba($color: $primario, $alpha: 0.8);
  border-radius: 10px;
  padding: 1.1rem 4.1rem;
  color: $blanco;
  background-color: rgba($color: $primario, $alpha: 0.8);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: $primario 0px 0px 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 45%);
}

@media only screen and (max-width: 540px) {
  .accion {
    background-color: rgba($color: $primario, $alpha: 0.2);
  }
}

// ------------
// Navbar
// ------------

.img-nav {
  width: auto;
  height: 100px;
}

@media only screen and (max-width: 540px) {
  .img-nav {
    height: 55px;
  }
}

.nav-item:hover {
  background: $primario;
  width: 100%;
  transition: all 0.5s ease;
  opacity: 0.4;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("/assets/img/menu.png") !important;
  border-color: transparent !important;
  border: none !important;
}

.navbar-toggler:focus {
  border-color: transparent !important;
  border: none !important;
  box-shadow: transparent !important;
}

.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
  border: none !important;
}

//---------------------------------------
// Sección Top Scroll
//---------------------------------------

#topscroll {
  display: inline-block;
  background-color: $primario;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#topscroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: $background;
}
#topscroll:hover {
  cursor: pointer;
  background-color: rgba($color: $primario, $alpha: 0.6);
}
#topscroll:active {
  background-color: rgba($color: $primario, $alpha: 0.8);
}
#topscroll.show {
  opacity: 1;
  visibility: visible;
}

// ---------------------------------------
// Seccion Inicio
// ---------------------------------------

.hero {
  position: relative;
}

.imagen-hero {
  transition: visibility 0.5s linear, opacity 0.5s linear;
  width: 100%;
  height: 100vh;
  filter: opacity(50%);
  -webkit-filter: opacity(50%);
  object-position: left top;
  object-fit: cover;
}

.textoInicio {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  font-size: 4rem;
}

@media only screen and (max-width: 768px) {
  .textoInicio {
    width: auto;
    top: 20%;
  }
  .titulo {
    font-size: 2.5rem;
  }
}

// ---------------------------------------
// Seccion Nosotros
// ---------------------------------------

#nosotros {
  h3 {
    color: $secundario;
    font-size: 3rem;
    font-family: "DM Sans", sans-serif;
  }
  ul li.dehobs::before {
    content: "";
    background-image: url("/assets/img/iconos/ok.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
  }
  li {
    color: $texto;
  }
  .img-valores {
    width: 150px;
    height: auto;
  }
  h4 {
    color: $secundario;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 3rem;
  }
}

// ---------------------------------------
// Seccion Servicios
// ---------------------------------------

#servicios {
  h4,
  p,
  ul {
    margin: 0 2rem;
  }
  h4 {
    color: $primario;
    font-family: "DM Sans", sans-serif;
  }
  h3 {
    color: $secundario;
    font-size: 3rem;
    font-family: "DM Sans", sans-serif;
  }
  ul li.dehobs::before {
    content: "";
    background-image: url("/assets/img/iconos/ok.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
  }
  li {
    color: $texto;
  }

  h4 {
    color: $primario;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 2rem;
  }
}

//---------------------------------------
// Sección 3 Marcas -- Banner
//---------------------------------------

#alianzas {
  h3 {
    color: $secundario;
    font-size: 3rem;
    font-family: "DM Sans", sans-serif;
  }

  .banner {
    overflow: hidden;
  }

  .banner-contenedor {
    display: flex;
    animation: scroll 10s linear infinite;
  }

  .banner-items {
    flex: 0 0 16vw;
    margin: 0 1vw;
  }

  .banner-items img {
    display: block;
    width: 100%;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    //---------------------------------------
    // Regla para el vw al 100%
    // a) Cuantos elemetos hay en el banner  Ejemplo   12 Elementos
    // b) Multiplican los elementos del banner X 2   Ejemplo    12 X 2 = 24
    // c) El resultado se multiplica pX -9    Ejemplo    24 X  -9 =  216
    //-------

    100% {
      transform: translateX(-90vw);
    }
  }
  @media only screen and (max-width: 540px) {
    .banner-contenedor {
      animation: scroll 10s linear infinite;
    }
    .banner-items {
      flex: 0 0 16vw;
      margin: 0 1vw;
    }

    .banner-items img {
      display: block;
      width: unset;
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      //---------------------------------------
      // Regla para el vw al 100%
      // a) Cuantos elemetos hay en el banner  Ejemplo   12 Elementos
      // b) Multiplican los elementos del banner X 2   Ejemplo    12 X 2 = 24
      // c) El resultado se multiplica pX -9    Ejemplo    24 X  -9 =  216
      //-------

      100% {
        transform: translateX(-544vw);
      }
    }
  }
}

//---------------------------------------
// Sección CTA
//---------------------------------------

#cta1 {
  h5 {
    margin-top: 3rem;
    color: $blanco;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 45%);
  }

  .hero {
    position: relative;
  }

  .imagen-cta {
    transition: visibility 0.5s linear, opacity 0.5s linear;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center center;
  }

  .textoInicio {
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  .titulo {
    font-size: 4rem;
    color: $primario;
  }

  @media only screen and (max-width: 768px) {
    .imagen-cta {
      height: 100vh;
    }
    .textoInicio {
      width: auto;
      top: 20%;
    }
    .titulo {
      font-size: 2.5rem;
    }
  }
}

//---------------------------------------
// Casos de exito
//---------------------------------------

#exito {
  
  .hero {
    position: relative;
  }
  .row > * {
    padding: 0;
    margin: 0;
  }
  h3 {
    color: $secundario;
    font-size: 3rem;
    font-family: "DM Sans", sans-serif;
  }
  
  .img-servicio {
    width: 100%;
    height: 60vh;
    object-position: center;
    object-fit: cover;
    filter: grayscale(95%);
    -webkit-filter: grayscale(95%);
    animation: serv-1 1s ease 0s 1;
    -webkit-animation: serv-1 1s ease 0s 1;
  }
  .img-servicio:hover,
  .img-servicio:active {
    animation: serv 1s ease 0s 1;
    -webkit-animation: serv 1s ease 0s 1;
    animation-fill-mode: forwards;
  }

  @keyframes serv {
    to {
      filter: grayscale(0%);
    }

    from {
      filter: grayscale(95%);
    }
  }

  @-webkit-keyframes serv {
    to {
      filter: grayscale(0%);
    }

    from {
      filter: grayscale(95%);
    }
  }
  @keyframes serv-1 {
    to {
      filter: grayscale(95%);
    }

    from {
      filter: grayscale(0%);
    }
  }
  @-webkit-keyframes serv-1 {
    to {
      filter: grayscale(95%);
    }

    from {
      filter: grayscale(0%);
    }
  }

  .controles {
    position: absolute;
    bottom: 30vh;
    left: 2%;
    width: 96%;
  }
  .carousel-caption {
    z-index: 3 !important;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 45%);
    color: $blanco;
    font-family: "DM Sans", sans-serif;
  }

  a{
    color: rgba($color: $primario, $alpha: 0.6);
    text-decoration: none;
  }
  a:hover,a:active{
    color: rgba($color: $primario, $alpha: 0.8);
  }
}

//---------------------------------------
// Sección CTA
//---------------------------------------

#cta2 {
  h5 {
    margin-top: 3rem;
    color: $blanco;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 45%);
  }

  .hero {
    position: relative;
  }

  .imagen-cta {
    transition: visibility 0.5s linear, opacity 0.5s linear;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: right center;
  }

  .textoInicio {
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  .titulo {
    font-size: 4rem;
    color: $primario;
  }

  @media only screen and (max-width: 768px) {
    .imagen-cta {
      height: 100vh;
    }
    .textoInicio {
      width: auto;
      top: 20%;
    }
    .titulo {
      font-size: 2.5rem;
    }
  }
}


//---------------------------------------
// Sección Testimonios
//---------------------------------------


#testimonios{
  small{
    color: $texto;
  }
  h6{
    font-size: x-large;
    color: $primario;
    margin: 0;
  }
  h3 {
    color: $secundario;
    font-size: 3rem;
    font-family: "DM Sans", sans-serif;
  }
  i{
    color: #f5d033;
    padding: 0 2px;
    margin: 0 1px;
  }
  
}


//---------------------------------------
// Sección Contacto
//---------------------------------------





//---------------------------------------
// Sección Footer
//---------------------------------------

footer{
  background-color: $primario;
  .img-footer{
    width: auto;
    height: 100px;
  }
  h5{
    color: $blanco;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 45%);
    margin: 5px 0;
  }
}

